body {
    margin-top: 20px;
    background-color: whitesmoke;
}

.card {
    padding: 15px;
}

.startQuiz {
    margin-top: 10px;
}

.submitAnswer {
    margin-top: 10px;
}

#countdown {
    margin-top: 20px;
    background-color: white;
}